@import "../../../colors.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .msg {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4vw;
    letter-spacing: 0.5vw;
    font-weight: bold;
    color: mix($main-color,#40f040);
    span {
      color: white;
      margin-left: 5vw;
      transform: rotate(90deg);
    }
  }
}