<nav>
  <button class="disabled" (click)="btnId = 0" [ngClass]="{'selected':btnId==0}">
    <img src="../../assets/icons/saxophone.png" alt="">
    <span>Saxophone</span>
  </button>
  <button routerLink="harmonica" (click)="btnId = 1" [ngClass]="{'selected':btnId==1}">
    <img src="../../assets/icons/lips-harmonica.png" alt="">
    <span>Harmonica</span>
  </button>
  <button routerLink="block-flute" (click)="btnId = 2" [ngClass]="{'selected':btnId==2}">
    <img src="../../assets/icons/woodwind.png" alt="">
    <span>Block flute</span>
  </button>
  <button routerLink="trumpet" (click)="btnId = 3" [ngClass]="{'selected':btnId==3}">
    <img src="../../assets/icons/trumpet.png" alt="">
    <span>Trumpet</span>
  </button>
</nav>