<app-link-to-home></app-link-to-home>
<div class="wrapper">
  <header>
    <span>Music Scaller</span>
    <img src="../../assets/favicon.png" alt="">
  </header>
  <strong class="alert">The site is still under development.
    <br>Some things may be incomplete, broken<br>or may differ from the screenshots below
  </strong>
  <div class="contacts">
    <span>Contacts & Info</span>
    <ul>
      <li>GitHub: <a href="https://github.com/BogdanBida">https://github.com/BogdanBida</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/bogdan-bida/">https://www.linkedin.com/in/bogdan-bida/</a></li>
      <li>Instagram: <a href="https://www.instagram.com/bida_bogdan/">https://www.instagram.com/bida_bogdan/</a></li>
      <li>Gmail: bogdanbida.ua@gmail.com</li>
    </ul>
  </div>
</div>