<a class="backlink" routerLink="/home">BACK</a>
<div class="wrapper">
  <section class="manual">
    <h1 class="header-text header-name">Music Scaller <img class="icon" src="../../assets/favicon.png"></h1>
    <hr>
    <div class="red">The site is still under development.
      <br>Some things may be incomplete, broken<br>or may differ from the screenshots below
    </div>
    <h1 class="header-text">Why and for <span>WHAT?</span></h1>
    <strong>
      <ul>
        <li> to remember the location of notes on the instrument and how to play in different keys</li>
        <li> learn to fluently play his instrument without hesitation about where the “that” note</li>
        <li> see the location of scale degrees using an example</li>
        <li> and much more</li>
      </ul>
    </strong>
    <img class="img-lar" src="../../../assets/mainpage.JPG">
    <p>
      Everything is simple
      The application consists of modules, one module for each type of musical instrument (strings, keys)
      You need to select the tonic, fret, additional settings of the module, and you will see the location of the notes,
      the highlighting of the notes with tonality and the highlighting of the tonic and other degrees on the instrument.
    </p>
  </section>
  <section>
    <h2>Instruments</h2>
    <h1>Stringed instruments</h1>
    <img class="img-lar" src="../../assets/stringedpage.jpg" alt="">
    <span routerLink="/stringed">Here</span>
    <p>
      A virtual fingerboard is located at the top of the screen, on the left side there are guitar pegs that allow you
      to change the tone of the string using the scroll wheel of the mouse or click (the choice of the direction of the
      change in height can be selected in the checkbox below)
      You can also choose a pattern of a system or instrument, it can be a guitar, violin, ukulele, bass, etc.
      This module imitates the neck of the main stringed plucked (including bowed) instruments
    </p>
    <ul>
      the settings section allows:
      <li>string tuning</li>
      <li>change in the number of strings</li>
    </ul>
    <hr>
    <h1>Keys instruments</h1>
    <img class="img-lar" src="../../assets/pianopage.jpg" alt="">
    <span routerLink="/piano">Here</span>
    <p>
      This module mimics the keys, which are marked with different colors and are marked with gamma stage numbers.
      Thanks to this module, you can easily spy notes included in the tonality
    </p>
    <hr>
    <h1>Wind instruments module</h1>
    <img class="img-lar" src="../../assets/windspage.jpg" alt="">
    <span routerLink="/winds">Here</span>
    <p>
      This module is a separate container for a group of tools, choosing one of them, you are offered the appropriate
      interface
    </p>
    <div class="row">
      <span>Available instruments:</span>
      <ul>
        <li routerLink="/winds/saxophone">
          <img class="img-lar" src="../../assets/saxophonepage.jpg" alt=""><br>
          Saxophone
        </li>
        <li routerLink="/winds/harmonica">
          <img class="img-lar" src="../../assets/harmonica.jpg" alt=""><br>
          Harmonica
        </li>
      </ul>
      <ul>
        <li routerLink="/winds/block-flute">
          <img class="img-lar" src="../../assets/block-flute.jpg" alt=""><br>
          Block flute
        </li>
        <li routerLink="/winds/trumpet">
          <img class="img-lar" src="../../assets/trumpet.jpg" alt=""><br>
          Trumpet
        </li>
      </ul>
    </div>

    <h2>Addition instruments</h2>
    <h1>Kalimba</h1>
    <img class="img-lar" src="../../assets/kalimba.jpg" alt="">
    <span routerLink="/kalimba">Here</span>
    <p></p>

    <h2>Functions</h2>
    <h1>Tuner</h1>
    <p>In development</p>
    <h1>Chord finder</h1>
    <img class="img-lar" src="../../assets/chord-finder.jpg" alt="">
    <span routerLink="/chord-finder">Here</span>
    <p>This module can detect most common chords, you select notes on the keyboard, press scan or play, and it
      determines the chord</p>
    <h1>Music analyzer</h1>
    <p>In development</p>
  </section>

  <hr>
  <section class="author">
    <h2>Author</h2>
    <img class="img-mid" src="../../../assets/author.jpg">
    <h1>Bogdan Bida</h1>
    <div class="flex">
      <ul>
        <span>Contacts & Info</span>
        <li>GitHub: <a href="https://github.com/BogdanBida">https://github.com/BogdanBida</a> </li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/bogdan-bida/">https://www.linkedin.com/in/bogdan-bida/</a>
        </li>
        <li>Instagram: <a href="https://www.instagram.com/bida_bogdan/">https://www.instagram.com/bida_bogdan/</a> </li>
        <li>Gmail: bogdanbida.ua@gmail.com</li>
      </ul>
    </div>
  </section>
</div>