<div class="block-flute-wrapper">
  <div class="notelist">
    <ng-template ngFor let-note [ngForOf]="getNotes()" let-id="index">
      <div class="note" *ngIf="getStageId((note.noteId)%12) != 0" 
      (mousedown)="play(note.noteId)" (mouseup)="stopAudio()" (mouseleave)="stopAudio()">
        <div class="mark" [ngClass]="getStageId(note.noteId % 12) | notecolor">
          {{NOTES[(note.noteId) % 12]}}{{trunc((note.noteId-3) / 12) + 1}}
        </div>
        <div class="flute-body">
          <div class="hole" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [ngClass]="{'closed-hole': note.fingering[i] == 1,
          'half-closed-hole': note.fingering[i] == 2}"></div>
        </div>
      </div>
    </ng-template>
  </div>
  <section class="settings">
    <div class="select-container">
      <label for="selectRoot">Root</label>
      <select name="selectRoot" [(ngModel)]="root" (ngModelChange)="setRoot($event)">
        <option [ngValue]="44 ">Alto</option>
        <option [ngValue]="51">Soprano</option>
      </select>
    </div>
    <app-musicscale-settings class="selects-container" [defaultTonic]="selectTonic" [defaultScale]="selectScale"
      (tonicEmitter)="selectTonic = $event" (scaleEmitter)="selectScale = $event"></app-musicscale-settings>
  </section>
</div>