@import "../../../colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
}

.fret {
  margin-top: 44px;
  border-top: 2px solid #404040;
  border-bottom: 2px solid $main-color;
  border-top: 2px solid $main-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  overflow-y: auto;
  overflow-x: auto;
}


.string-pitcher {
  height: 100%;
  width: 5%;
  min-width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  filter: drop-shadow(-10px 2px 5px black);
  button {
    margin: 0;
    width: calc(50% - 2px);
    background-color: transparent !important;
    color: white;
    font-size: 24px;
    text-align: center;
    transition: 0.2s;
    &:hover {
      color: #a0a0a0;
    }
    &:first-child {
      border-right: 2px solid $main-color;
    }
  }
}

.string-row {
  display: flex;
  border-left: 2px solid $main-color;
  min-width: 900px;
  align-items: center;
  margin-top: 4px;

  &:first-of-type {
    .note:nth-of-type(5),
    .note:nth-of-type(7),
    .note:nth-of-type(9),
    .note:nth-of-type(11),
    .note:nth-of-type(14) {
      &::before {
        position: absolute;
        top: -8px;
        right: 2px;
        width: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        font-size: 12px;
        font-weight: bold;
        background-color: rgb(255, 255, 255);
        opacity: 0.8;
        border-radius: 999px;
        font-family: Arial;
        box-shadow: 0 2px 5px black;
        color: black;
      }
    }
    .note:nth-of-type(5)::before {
      content: "3";
    }
    .note:nth-of-type(7)::before {
      content: "5";
    }
    .note:nth-of-type(9)::before {
      content: "7";
    }
    .note:nth-of-type(11)::before {
      content: "9";
    }
    .note:nth-of-type(14)::before {
      content: "12";
    }
  }
}

.note {
  position: relative;
  padding: 4px;
  width: calc(95% / 16);
  color: white;
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  font-size: 2.8vmin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
}

.note:not(.note-disabled) .notename-wrapper {
  background-color: rgb(20, 20, 20);
  border-radius: 999px;
  width: 2em;
  padding: 2px;
}

.note:nth-of-type(2),
.note:nth-of-type(5),
.note:nth-of-type(7),
.note:nth-of-type(9),
.note:nth-of-type(11),
.note:nth-of-type(14) {
  background-color: rgba(255, 255, 255, 0.1);
}

.note:nth-of-type(2),
.note:nth-of-type(14) {
  border-right: 4px solid #d0d0d0;
  border-left: 4px solid #d0d0d0;
  background-color: rgba(255, 255, 255, 0.2);
}

.mark {
  position: absolute;
  top: 4px;
  font-size: 2.3vh;
  font-weight: bold;
  opacity: 0.5;
  color: white;
  z-index: 3;
}
// ----------------------------------------------- 
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 180px;
  width: 95%;
  margin-left: 2.5%;
  > div {
    display: flex;
    flex-direction: column;
  }
}

.string-controller {
  min-width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4vmin;
  > div {
    display: flex;
    width: 100%;
  }
  button {
    font-size: 3vh;
    flex: 1 1;
  }
}

.refresh-btn {
  padding: 4px;
  font-size: 16px;
}

.select-container {
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.selects-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper ::ng-deep .select-container {
  justify-content: space-between;
  width: 100%;
}

// -------------------------------------- 
.note-tonic {
  color: $tonic-color;
  border-bottom: 2px solid $main-color;
  border-top: 2px solid $main-color;
  filter: drop-shadow(0 0 12px #aaffaa70)
}

.note-min-second {
  color: $minSecond-color;
}

.note-maj-second {
  color: $majSecond-color;
}

.note-min-third {
  color: $minThird-color;
}

.note-maj-third {
  color: $majThird-color;
}

.note-fourth {
  color: $perfectFourth-color;
}

.note-tritone {
  color: $tritone-color;
}

.note-fifth {
  color: $perfectFifth-color;
}

.note-min-sixth {
  color: $minSixth-color;
}

.note-maj-sixth {
  color: $majSixth-color;
}

.note-min-seventh {
  color: $minSeventh-color;
}

.note-maj-seventh {
  color: $majSeventh-color;
}

.note-disabled {
  color: #757575;
}
