@import "../../../colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  section {
    flex: 1 1;
  }
  height: 100%;
}

.fret {
  margin-top: 24px;
  border-top: 2px solid #404040;
  border-bottom: 2px solid $main-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  overflow-y: auto;
  overflow-x: auto;
}

.string-row {
  display: flex;
  border-left: 2px solid $main-color;
  min-width: 800px;
  align-items: center;
  margin-top: 0.25vh;
  &:first-of-type {
    margin-top: 1vh;
  }
}

.note {
  padding: 4px;
  width: calc(100% / 16);
  text-align: center;
  color: white;
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  font-size: 2.8vh;
  cursor: pointer;
}

.note:nth-of-type(2),
.note:nth-of-type(5),
.note:nth-of-type(7),
.note:nth-of-type(9),
.note:nth-of-type(11),
.note:nth-of-type(14) {
  background-color: rgba(255, 255, 255, 0.1);
}
.note:nth-of-type(2),
.note:nth-of-type(14) {
  border-right: 4px solid #d0d0d0;
  border-left: 4px solid #d0d0d0;
  background-color: rgba(255, 255, 255, 0.2);
}

.mark {
  position: absolute;
  top: 4px;
  font-size: 2.3vh;
  font-weight: bold;
  opacity: 0.5;
  color: white;
  z-index: 3;
}

.string-pitcher {
  height: 100%;
  width: 3%;
  min-width: 16px;
  max-width: 32px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  filter: drop-shadow(-10px 2px 5px black);
  &:hover {
    border-right: 2px solid #de1c02;
    filter: drop-shadow(-10px 2px 5px black) drop-shadow(64px 0px 20px white);
  }
  cursor: grab;
}

.wheel {
  width: 12px;
  height: 12px;
  z-index: 1;
  border-radius: 50%;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    position: absolute;
    width: 100%;
    max-width: 32px;
    min-width: 24px;
    height: 6px;
    border-radius: 30px;
    transform: rotate(0deg);
    background-color: #808080;
    z-index: 2;
  }
}

.note-tonic {
  color: rgb(0, 195, 255);
  border-bottom: 2px solid $main-color;
  border-top: 2px solid $main-color;
}

.note-third {
  color: rgb(36, 255, 200);
}

.note-penta {
  color: rgb(255, 74, 74);
}

.note-active {
  color: white;
}

.note-addition {
  color: rgb(121, 80, 255);
}

.note-disabled {
  color: #505050;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.selects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.select-container {
  margin: 8px;
  min-height: 40px;
  select:first-of-type {
    min-width: 128px;
  }
}

.string-controller {
  width: 15vw;
  min-width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-size: 4vh;
  hr {
    margin: 1vh;
  }
  .pitch-direction {
    font-size: 10px;
    &:hover:after {
      height: 20px;
      position: absolute;
      background-color: #404040;
      padding: 4px;
      margin-right: -8px;
      opacity: 0.9;
      content: "by clicking on a peg of neckhead"
    }
  }
  button {
    border: 3px solid #70d7ff;
    background-color: initial;
    color: white;
    font-size: 12px;
    font-size: 3vh;
    padding: 2px 8px;
    margin: 4px;
    width: 100%;
    &:hover {
      background-color: #757575;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

@media screen and (max-width: 720px) {
  .selects-wrapper {
    flex-direction: column;
  }
  .select-container {
    margin: 0;
  }
}