<app-link-to-home></app-link-to-home>
<div class="wrapper">
  <div class="fret">
    <div class="strings-wrapper">
      <div class="string-row" *ngFor="let stringRoot of stringRows; let i = index">
        <div class="string-pitcher" (wheel)="wheelPeg($event, i)">
          <button (click)="pegChange(i, false)">&#9668;</button>
          <button (click)="pegChange(i, true)">&#9658;</button>
        </div>
        <div class="note" *ngFor="let f of [].constructor(FRETS_AMOUNT); let fret = index" 
        (mousedown)="play(fret + stringRoot.getId())" (mouseup)="stopAudio()" 
        (mouseleave)="stopAudio()" 
        
        [ngClass]="getStageId(fret + stringRoot.getId()) | notecolor">
        <div class="notename-wrapper">
          {{(fret + stringRoot.getId()) | notename}}
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="menu">
    <div>
      <div class="string-controller">
        <span>Strings: {{stringRows.length}}</span>
        <div>
          <button class="button" (click)="addString()">+</button>
          <button class="button" (click)="removeString()">-</button>
        </div>
      </div>
      <div class="select-container">
        <label for="selectTune">Tuning</label>
        <select name="selectTune" [(ngModel)]="selectTuneName" (change)="refreshStrings()">
          <option *ngFor="let tune of TUNES | keyvalue" [value]="tune.key">{{tune.key}}</option>
        </select>
        <button class="button refresh-btn" (click)="refreshStrings()">REFRESH</button>
      </div>
    </div>
    <app-musicscale-settings class="selects-wrapper" [defaultTonic]="selectTonic" [defaultScale]="selectScale"
      (tonicEmitter)="selectTonic = $event" (scaleEmitter)="selectScale = $event"></app-musicscale-settings>
  </div>
</div>