<app-link-to-home></app-link-to-home>
<section class="keyboard">
  <div class="key" *ngFor="let note of getNotes(); let id = index" 
  (mousedown)="play(id)" (mouseup)="stopAudio()" 
  (mouseleave)="stopAudio()"
    [ngClass]="whiteKeys[note.getId()]?'whiteKey':'blackKey'">
    <div class="color-layer" [ngClass]="getStageId(note.getId()) | notecolor">
    </div>
    <span>{{note.getName()}}</span>
  </div>
</section>
<div class="menu">
  <div class="rangeNotes">
    <label for="range">Range {{countOfKeys}} notes</label>
    <input type="range" name="range" min="13" max="88" value="48" [(ngModel)]="countOfKeys">
  </div>
  <app-musicscale-settings class="selects-wrapper" [defaultTonic]="selectTonic" [defaultScale]="selectScale"
    (tonicEmitter)="selectTonic = $event" (scaleEmitter)="selectScale = $event"></app-musicscale-settings>
</div>