<section class="wrapper">
  <div class="sax">
    <div class="sax-body"></div>
    <div class="sax-content">
      <div>
        <div>o</div>
        <div>
          <div>
            <div>|</div>
            <div>|</div>
            <div>|</div>
          </div>
          <div class="rot">
            <div>|</div>
            <div>|</div>
            <div>
              <div>--</div>
              <div>--</div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div>
        <div>
          <div>o</div>
          <div>o</div>
          <div>o</div>
          <div>o</div>
          <div>o</div>
        </div>
        <div>
          <div>O</div>
          <div>O</div>
          <div>O</div>
        </div>
      </div>
      <!--  -->
      <div>
        <div class="ttt">
          <div>[]</div>
          <div>[]</div>
          <div>[]</div>
        </div>
        <div>
          <div>/\</div>
          <div class="flex">
            <div>(|</div>
            <div>|)</div>
          </div>
          <div>\/</div>
        </div>
      </div>
    </div>
  </div>
</section>