<h2>Baroque</h2>
<section class="notelist">
  <div *ngFor="let note of NOTE_MAP; let id = index" class="note" [ngClass]="{'disable':isTonality(id+root) == 0}"
    (click)="play(id+root)">
    <div class="mark" [ngClass]="{'tonic': ((id+root)%12) == selectTonic }">{{NOTES[(id+root) % 12]}}{{trunc((id) / 12)+5}}</div>
    <div class="holes-container">
      <div class="hole" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [ngClass]="{'closed-hole': note[i] == 1,
       'half-closed-hole': note[i] == 2}"></div>
    </div>
  </div>
</section>
<section class="settings">
  <div class="select-container">
    <label for="selectTonic">Tonic</label>
    <select name="selectTonic" [(ngModel)]="selectTonic">
      <option [value]="0" selected>A</option>
      <option [value]="1">A#</option>
      <option [value]="2">B</option>
      <option [value]="3">C</option>
      <option [value]="4">C#</option>
      <option [value]="5">D</option>
      <option [value]="6">D#</option>
      <option [value]="7">E</option>
      <option [value]="8">F</option>
      <option [value]="9">F#</option>
      <option [value]="10">G</option>
      <option [value]="11">G#</option>
    </select>
  </div>
  <div class="select-container">
    <label for="selectScale">Scale</label>
    <select name="selectScale" [(ngModel)]="selectScale">
      <option *ngFor="let scale of SCALES | keyvalue" [value]="scale.key">{{scale.key}}</option>
    </select>
  </div>
  <div class="select-container">
    <label for="selectRoot">Root</label>
    <select name="selectRoot" [(ngModel)]="root">
      <option [value]="8">F</option>
      <option [value]="3">C</option>
    </select>
  </div>
</section>