<app-link-to-home></app-link-to-home>
<section class="wrapper">
  <section class="kalimba">
    <div class="tongue-row">
      <div class="tongue" *ngFor="let tongue of getTongues(); let id = index" [style.height]="tongue.len + 50 + '%'"
        (click)="play(tongue.note)">
        <div class="mark" [ngClass]="{'note-maj-seventh': getStageId(tongue.note) == 12,
        'note-min-seventh' : getStageId(tongue.note) == 11,
        'note-maj-sixth' : getStageId(tongue.note) == 10,
        'note-min-sixth' : getStageId(tongue.note) == 9,
        'note-fifth' : getStageId(tongue.note) == 8,
        'note-tritone' : getStageId(tongue.note) == 7,
        'note-fourth': getStageId(tongue.note) == 6,
        'note-maj-third': getStageId(tongue.note) == 5,
        'note-min-third': getStageId(tongue.note) == 4,
        'note-maj-second': getStageId(tongue.note) == 3,
        'note-min-second': getStageId(tongue.note) == 2,
        'note-tonic' : getStageId(tongue.note) == 1}"></div>
        {{NOTES[tongue.note % 12]}}</div>
    </div>
    <div class="hole"></div>
  </section>
  <section class="settings">
    <app-musicscale-settings class="selects-wrapper"
    [defaultTonic]="selectTonic"
    [defaultScale]="selectScale"
    (tonicEmitter)="selectTonic = $event"
    (scaleEmitter)="selectScale = $event"
    ></app-musicscale-settings>
    <div class="select-container">
      <label for="selectTune">Tune</label>
      <select name="selectTune" [(ngModel)]="selectTuneName" (change)="selectTune = tunes[selectTuneName]">
        <option *ngFor="let tune of tunes | keyvalue" [value]="tune.key">{{tune.key}}</option>
      </select>
    </div>
  </section>
</section>