<app-link-to-home></app-link-to-home>
<section class="wrapper">
  <section class="kalimba">
    <div class="tongue-row">
      <div class="tongue" *ngFor="let tongue of getTongues(); let id = index" [style.height]="tongue.len + 50 + '%'"
        (mousedown)="play(tongue.note)" (mouseup)="stopAudio()" (mouseleave)="stopAudio()">
        <div class="mark" [ngClass]="getStageId(tongue.note) | notecolor"></div>
        {{NOTES[tongue.note % 12]}}</div>
    </div>
    <div class="hole"></div>
  </section>
  <section class="settings">
    <app-musicscale-settings class="selects-wrapper"
    [defaultTonic]="selectTonic"
    [defaultScale]="selectScale"
    (tonicEmitter)="selectTonic = $event"
    (scaleEmitter)="selectScale = $event"
    ></app-musicscale-settings>
    <div class="select-container">
      <label for="selectTune">Tune</label>
      <select name="selectTune" [(ngModel)]="selectTuneName" (change)="selectTune = tunes[selectTuneName]">
        <option *ngFor="let tune of tunes | keyvalue" [value]="tune.key">{{tune.key}}</option>
      </select>
    </div>
  </section>
</section>