<div class="wrapper">
  <div class="container">
    <div class="note-block" *ngFor="let fingering of getFingerings()"
    (mousedown)="play(fingering.note.getId())" (mouseup)="stopAudio()" (mouseleave)="stopAudio()">
      <div class="note" [ngClass]="getStageId(fingering.note.getId()) | notecolor">
        {{fingering.note.getName() + '' + fingering.note.getOctave()}}
      </div>
      <div class="valves-block">
        <div class="valve" *ngFor="let valve of fingering.valves" [ngClass]="{'closed':valve}"></div>
      </div>
      <div class="blow-number">{{fingering.blow}}</div>
    </div>
  </div>
  <app-musicscale-settings class="settings" [defaultTonic]="selectTonic" [defaultScale]="selectScale"
    (tonicEmitter)="selectTonic = $event" (scaleEmitter)="selectScale = $event"></app-musicscale-settings>
</div>