@import "../../../../colors.scss";

.wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  overflow-x: auto;
  .col {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #101020;
    margin-right: -2px;
    padding: 1.5vw;
    .col-item {
      width: 2.5vw;
      height: 2.5vw;
      min-width: 28px;
      min-height: 28px;
      margin-top: 1vh;
      margin-bottom: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .note {
      @extend .col-item;
      border: 2px solid #8f8181;
      font-size: 14px;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      text-shadow: 0 1px 8px black;
      z-index: 4;
    }
    span {
      @extend .note;
      cursor: default;
      border-width: 5px;
      border-style: groove;
      border-color: $main-color;
      &::content {
        z-index: 5;
        font-size: 15px;
        text-shadow: 0 1px 3px black;
      }
    }
    .valves-row {
      @extend .col-item;
      width: auto;
      display: flex;
      border-bottom: 2px solid gray;
      box-sizing: border-box;
    }
  }
}

.valve {
  background-color: rgb(255, 217, 0);
  width: 1vw;
  height: 1vw;
  min-width: 8px;
  min-height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: -1px 5px 5px black;
}

.closed {
  @extend .valve;
  background-color: rgb(160, 136, 0) !important;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,1);
}

.settings {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.note-active {
    &::before {
        position: absolute;
        margin-top: -130%;
        margin-left: 110%;
        font-size: 10px;
        z-index: 3;
    }
    box-shadow: 0 0 2px $main-color;
}

.note-tonic {
    &::before {
        content: "I";
    }
    @extend .note-active;
    border-bottom: 4px solid $tonic-color;
    filter: drop-shadow(0 0 1px $tonic-color);
}

.note-min-second {
  @extend .note-active;
  border-bottom: 4px solid $minSecond-color;
  filter: drop-shadow(0 0 1px $minSecond-color);
}
.note-maj-second {
    @extend .note-active;
    border-bottom: 4px solid $majSecond-color;
    filter: drop-shadow(0 0 1px $majSecond-color);
}

.note-min-third {
  @extend .note-active;
  border-bottom: 4px solid $minThird-color;
  filter: drop-shadow(0 0 1px $minThird-color);
}
.note-maj-third {
    @extend .note-active;
    border-bottom: 4px solid $majThird-color;
    filter: drop-shadow(0 0 1px $majThird-color);
}
.note-fourth {
    @extend .note-active;
    border-bottom: 4px solid $perfectFourth-color;
    filter: drop-shadow(0 0 1px $perfectFourth-color);
}
.note-tritone {
  @extend .note-active;
  border-bottom: 4px solid $tritone-color;
  filter: drop-shadow(0 0 1px $tritone-color);
}
.note-fifth {
    &::before {
        content: "V";
    }
    @extend .note-active;
    border-bottom: 4px solid $perfectFifth-color;
    filter: drop-shadow(0 0 1px $perfectFifth-color);
}
.note-min-sixth {
  @extend .note-active;
  border-bottom: 4px solid $minSixth-color;
  filter: drop-shadow(0 0 1px $minSixth-color);
}
.note-maj-sixth {
  @extend .note-active;
  border-bottom: 4px solid $majSixth-color;
  filter: drop-shadow(0 0 1px $majSixth-color);
}
.note-min-seventh {
  @extend .note-active;
  border-bottom: 4px solid $minSeventh-color;
  filter: drop-shadow(0 0 1px $minSeventh-color);
}
.note-maj-seventh {
  @extend .note-active;
  border-bottom: 4px solid $majSeventh-color;
  filter: drop-shadow(0 0 1px $majSeventh-color);
}

.note-disabled {
  filter: brightness(0.5);
}