@import "../../../../colors.scss";

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow-x: auto;
  max-width: 75%;
  display: flex;
  padding: 0 16px;
  border-radius: 32px;
  border: 4px solid $main-color;
  border-top: 0;
  border-bottom: 0;  
  &::after {
    width: 16px;
    content: "-";
    height: 1px;
    opacity: 0;
  }
}

.note-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  justify-content: space-around;
  cursor: pointer;
}

.valves-block {
  display: flex;
  flex-direction: column-reverse;
  margin: 8px;
}

.blow-number {
  @extend .note;
  border-width: 5px !important;
  border-style: groove !important;
  border-color: $main-color !important;
  &::content {
    z-index: 5;
    font-size: 15px;
    text-shadow: 0 1px 3px black;
  }
}

.note {
  @extend .col-item;
  border: 2px solid #8f8181;
  font-size: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  text-shadow: 0 1px 8px black;
  z-index: 4;
}

.col-item {
  width: 5vmin;
  height: 5vmin;
  min-width: 28px;
  min-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.valve {
  background-color: rgb(255, 217, 0);
  width: 1vw;
  height: 1vw;
  min-width: 8px;
  min-height: 8px;
  margin: 2px 0;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: -1px 5px 5px black;
}

.closed {
  @extend .valve;
  background-color: rgb(160, 136, 0) !important;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,1);
}

.settings {
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.note-active {
    &::before {
        position: absolute;
        margin-top: -130%;
        margin-left: 110%;
        font-size: 10px;
        z-index: 3;
    }
    box-shadow: 0 0 2px $main-color;
}

.note-tonic {
    &::before {
        content: "I";
    }
    @extend .note-active;
    border-bottom: 4px solid $tonic-color;
    filter: drop-shadow(0 0 1px $tonic-color);
}

.note-min-second {
  @extend .note-active;
  border-bottom: 4px solid $minSecond-color;
  filter: drop-shadow(0 0 1px $minSecond-color);
}
.note-maj-second {
    @extend .note-active;
    border-bottom: 4px solid $majSecond-color;
    filter: drop-shadow(0 0 1px $majSecond-color);
}

.note-min-third {
  @extend .note-active;
  border-bottom: 4px solid $minThird-color;
  filter: drop-shadow(0 0 1px $minThird-color);
}
.note-maj-third {
    @extend .note-active;
    border-bottom: 4px solid $majThird-color;
    filter: drop-shadow(0 0 1px $majThird-color);
}
.note-fourth {
    @extend .note-active;
    border-bottom: 4px solid $perfectFourth-color;
    filter: drop-shadow(0 0 1px $perfectFourth-color);
}
.note-tritone {
  @extend .note-active;
  border-bottom: 4px solid $tritone-color;
  filter: drop-shadow(0 0 1px $tritone-color);
}
.note-fifth {
    &::before {
        content: "V";
    }
    @extend .note-active;
    border-bottom: 4px solid $perfectFifth-color;
    filter: drop-shadow(0 0 1px $perfectFifth-color);
}
.note-min-sixth {
  @extend .note-active;
  border-bottom: 4px solid $minSixth-color;
  filter: drop-shadow(0 0 1px $minSixth-color);
}
.note-maj-sixth {
  @extend .note-active;
  border-bottom: 4px solid $majSixth-color;
  filter: drop-shadow(0 0 1px $majSixth-color);
}
.note-min-seventh {
  @extend .note-active;
  border-bottom: 4px solid $minSeventh-color;
  filter: drop-shadow(0 0 1px $minSeventh-color);
}
.note-maj-seventh {
  @extend .note-active;
  border-bottom: 4px solid $majSeventh-color;
  filter: drop-shadow(0 0 1px $majSeventh-color);
}

.note-disabled {
  filter: brightness(0.5);
}