$main-color: #94d8d8;
$background: linear-gradient(to right bottom, #282530, #4a454d);
// $seventh-color: rgb(62, 98, 255);
// $sixth-color: rgb(71, 166, 255);
// $fifth-color: rgb(11, 171, 211);
// $fourth-color: rgb(58, 255, 51);
// $third-color: rgb(184, 255, 51);
// $second-color: rgb(255, 224, 88);
// $tonic-color: rgb(100, 255, 0);
// $addition-color: rgb(220, 80, 255);

$seventh-color: rgb(62, 98, 255);
$sixth-color: rgb(255, 36, 171);
$fifth-color: rgb(0, 195, 255) ;
$fourth-color: rgb(255, 224, 88);
$third-color: rgb(58, 255, 51);
$second-color: rgb(71, 166, 255);
$tonic-color: rgb(255, 74, 74);
$addition-color: rgb(220, 80, 255);

// $seventh-color: rgb(107, 62, 255);
// $sixth-color: rgb(36, 40, 255);
// $fifth-color: rgb(0, 195, 255) ;
// $fourth-color: rgb(121, 255, 88);
// $third-color: rgb(241, 255, 51);
// $second-color: rgb(255, 171, 60);
// $tonic-color: rgb(255, 74, 74);

// $addition-color: rgb(220, 80, 255);