@import "../../colors.scss";

$radius: 66.66vmin;
$radius: 75vmin;
$inner_radius: $radius / 2.75;

h1 {
  width: 100%;
  text-align: center;
  color: white;
  position: relative;
  margin: 0;
  top: 5vh;
  letter-spacing: 2em;
  letter-spacing: 2vw;
  font-size: 4vh;
}

footer {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 2vh;
  color: #ccd;
}

@keyframes anim {
  from {
    min-width: 0;
    min-height: 0;
    height: 20vmin;
    width: 20vmin;
    top: calc(50% - 10vmin);
    left: calc(50% - 10vmin);
  }
  to {
    height: $radius;
    width: $radius;
  }
}

.circle {
  position: absolute;
  height: $radius;
  width: $radius;
  $half_radius: $radius/2;
  top: calc(52.5% - #{$radius}/2);
  left: calc(50% - #{$radius}/2);
  min-height: 256px;
  min-width: 256px;
  margin: 0 auto;
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0px 0px 64px 1px $main-color, inset 0px 0px 32px 4px $main-color;
  animation-name: anim;
  animation-duration: 0.5s;
  button {
    height: 33.33%;
    width: 33.33%;
    line-height: 40px;
    margin-left: calc(-33.33% / 2);
    margin-top: calc(-33.33% / 2);
    /*  */
    position: absolute;
    text-align: center;
  
    font-size: 3vmin;
    border-radius: 50%;
    img {
      height: 40%;
      width: 40%;
      position: absolute;
      bottom: 38%;
      box-sizing: border-box;
    }
  
    span {
      position: relative;
      top: 22%;
    }
  }
}

button {
  border: none;
  background-color: initial;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #dde;
    transform: scale(1.15);
    filter: drop-shadow(0px 0px 48px $main-color);
  }
}

.inner-circle {
  position: absolute;
  width: $inner-radius;
  height: $inner-radius;
  border-radius: 50%;
  margin-left: calc(50% - #{$inner_radius/2});
  margin-top: calc(50% - #{$inner_radius/2});
  box-shadow: 0 0 2px 1px $main-color, inset 0 0 4px 1px $main-color;
}

.separator {
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  width: 2px;
  height: calc((#{$radius - $inner_radius}) / 2.2);
  margin-left: -1px;
  margin-top: calc((#{$radius - $inner_radius}) / -4.4);
  box-shadow: 0px 0px 32px 4px $main-color, 0px 0px 6px 1px $main-color;
}

.disabled {
  pointer-events: none;
  filter: brightness(0.55);
  &::before {
    position: absolute;
    top: -0.5vh;
    content: "in development";
    font-size: 1.5vh;
    z-index: 3;
    color: white;
  }
}