<h1>MUSIC SCALLER</h1>
<nav class="circle">
  <button routerLink="/tuner" class="disabled">
    <img src="../../assets/icons/tuner.png" alt="">
    <span>Tuner</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/about">
    <img src="../../assets/icons/about.png" alt="">
    <span>About</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/stringed">
    <img src="../../assets/icons/stringed.png" alt="">
    <span>Stringed</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/piano">
    <img src="../../assets/icons/piano.png" alt="">
    <span>Keyboard</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/winds" class="">
    <img src="../../assets/icons/winds.png" alt="">
    <span>Wind</span>
  </button>
  <div class="separator"></div>
  <div class="inner-circle"></div>
</nav>

<app-home-sidebar></app-home-sidebar>

<footer>
  <span>Created by Bogdan Bida</span>
</footer>