<h1>MUSIC SCALLER</h1>
<nav class="circle">
  <button routerLink="/tuner">
    <svg>
      <image xlink:href="../../assets/icons/svg/tuner.svg" src="../../assets/icons/tuner.png" width="100%"
        height="100%"/>
    </svg>
    <span>Tuner</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/about">
    <svg>
      <image xlink:href="../../assets/icons/svg/about.svg" src="../../assets/icons/about.png" width="100%"
        height="100%" />
    </svg>
    <span>About</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/stringed">
    <svg>
      <image xlink:href="../../assets/icons/svg/stringed.svg" src="../../assets/icons/stringed.png" width="100%"
        height="100%" />
    </svg>
    <span>Stringed</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/piano">
    <svg>
      <image xlink:href="../../assets/icons/svg/keyboards.svg" src="../../assets/icons/piano.png" width="100%"
        height="100%" />
    </svg>
    <span>Keyboard</span>
  </button>
  <div class="separator"></div>
  <button routerLink="/winds" class=""> <svg>
      <image xlink:href="../../assets/icons/svg/winds.svg" src="../../assets/icons/winds.png" width="100%"
        height="100%" />
    </svg>
    <span>Wind</span>
  </button>
  <div class="separator"></div>
  <div class="inner-circle"></div>
</nav>

<app-home-sidebar></app-home-sidebar>

<footer>
  <span>Created by Bogdan Bida</span>
</footer>