<div class="harm-wrapper">
  <div class="harm-container">
    <div class="left-mark"><span>Out</span>
      <div></div><span>In</span>
    </div>
    <div class="harm">
      <div class="hole" *ngFor="let hole of holes; let id = index">
        <div class="position">{{id+1}}</div>
        <div class="note" *ngFor="let breath of [0,1]" 
        (mousedown)="play(hole[breath])" (mouseup)="stopAudio()" (mouseleave)="stopAudio()"
        [ngClass]="getStageId(hole[breath]) | notecolor">
          {{NOTES[hole[breath]%12]}}</div>
      </div>
    </div>
  </div>
  <app-musicscale-settings class="settings" [defaultTonic]="selectTonic" [defaultScale]="selectScale"
    (tonicEmitter)="selectTonic = $event" (scaleEmitter)="selectScale = $event"></app-musicscale-settings>
</div>